# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/src/.vs/yvm/v15
/src/Debug
/src/.idea
src/yvm.vcxproj.user
/.idea
/.vs
/cmake-build-debug/CMakeFiles
/src/cmake-build-debug
/src/Release
/src/AccessFlag.h.gch
/cmake-build-debug
/src/CreateAsyncThreadsTest/yvm.tlog
/src/WithoutSynchronizedBlockTest
/src/ThrowExceptionTest
/src/SynchronizedBlockTest
/src/CreateAsyncThreadsTest
/src/QuickSort
/src/LambdaTest/yvm.tlog
/src/LambdaTest
/src/x64/CreateAsyncThreadsTest
/src/x64
/src/GCTest
/test/java
/test/ydk
/src/.vs
/cmake-build-debug-llvm-clang
