<?xml version="1.0" encoding="UTF-8"?>
<searchPath>
    <jars>
        <p>your .jar file absolute path</p>
        <p>your .jar file absolute path</p>
    </jars>
    <classPath>
        <p>your class path to be search</p>
        <p>your class path to be search</p>
    </classPath>
</searchPath>
